@media (min-width: 992px) {
  .header {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 20px;
  }
  .block-section {
    padding: 12px;
    margin-right: 10%;
    padding-left: 10%;
    margin-top: 20px;
  }
  .photo-resume-section {
    padding: 12px;
    margin-right: 10%;
    padding-left: 10%;
    margin-top: 10px;
  }

  .under-header {
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 25px;
  }
  .works-section {
    padding: 12px;
    padding-right: 10%;
    padding-left: 10%;
    margin-top: 20px;
  }
}
@media (max-width: 992px) {
  .container-foto {
    margin-left: 0 px;
    display: flex;
    justify-content: center;
    color: white;
  }
  .foto {
    width: 30%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .contact-resume {
    text-align: center;
    margin-bottom: 20px;
  }
  .block-section {
    padding-left: 30px;
  }
  .works-section {
    padding: 10px;
  }
}

.under-header {
  padding-left: 12px;
  margin-bottom: 25px;
}

.social-icons {
  max-width: 25px;
}
.name {
  font-size: 40px;
}
.text-under-name {
  margin-top: 20px;
  font-size: 20px;
  color: aliceblue;
}

body {
  background-color: black;
}
h1 {
  color: aliceblue;
}
p {
  color: aliceblue;
}

.section-sort {
  background-color: #101010;
}
.category {
  text-align: center;
  padding-top: 14px;
  padding-bottom: 30px;
  text-decoration: none;
  color: aliceblue;
}

.category-not-active {
  text-align: center;
  padding-top: 14px;
  padding-bottom: 20px;
  text-decoration: none;
  color: rgb(174, 182, 190);
}
.illustrations-home {
  max-width: 100%;
}
.col-3 {
  padding: 0px;
}
.col-6 {
  padding: 0px;
}
.col-md-3 {
  padding: 0px;
}
.col-md-6 {
  padding: 0px;
}
.col-12 {
  padding: 0px;
}
.hover {
  transition: transform 300ms ease-in-out;
  transition: 600ms ease-in-out;
}
.hover:hover {
  background: rgba(51, 51, 51, 0.8);
  transform: scale(1.1, 1.1);
}
.foto {
  border-radius: 50%;
  max-width: 70%;
}

.container-foto {
  display: flex;
  justify-content: center;
}
.block-section {
  color: white;
  background-color: #101010;
  width: 100%;
}
.works-section {
  color: white;
  background-color: #101010;
  width: 100%;
}
.resume-row {
  padding: 12px;
}
ul {
  list-style-type: none;
}
.programs {
  display: inline;
  width: 30px;
}
.work {
  width: 100%;
}

.pad-0 {
  padding: 0px;
}
.work-section {
  text-align: center;
}
.works {
  width: 100%;
}
