@media (min-width: 992px) {
  .header {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 20px;
  }
  .under-header {
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 25px;
  }
}

.under-header {
  padding-left: 12px;
  margin-bottom: 25px;
}

.social-icons {
  max-width: 20px;
}
.name {
  font-size: 40px;
}
.text-under-name {
  margin-top: 20px;
  font-size: 20px;
  color: aliceblue;
}

body {
  background-color: black;
}
h1 {
  color: aliceblue;
}
p {
  color: aliceblue;
}

.section-sort {
  background-color: #101010;
}
.category {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
  color: aliceblue;
}

.category-not-active {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
  color: rgb(174, 182, 190);
}
.illustrations-home {
  max-width: 100%;
}
.col-3 {
  padding: 0px;
}
.col-6 {
  padding: 0px;
}
.col-md.3 {
  padding: 0px;
}
